.container{
text-align: center;
background: linear-gradient(rgba(00,00,00,0.5),rgba(00,00,00,0.5)),url(bmw.jpg);
background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

margin-top: 5%;
margin-left: 40%;
width: 300px;
height: 350px;
border-radius:  12px;
box-shadow: 0px 4px 8px black;
}
input{
    padding: 10px;
    border-radius: 12px;
    outline: none;
    border: none;
}
input[type="text"]:hover{
    box-shadow: 0px 4px 8px black;
}
input[type="number"]:hover{
    box-shadow: 0px 4px 8px black;
}
input[type="email"]:hover{
    box-shadow:0px 4px 8px  black;

}
input::placeholder{
    color:black;
    letter-spacing: 1px;
   
}
.container h1{
    padding-top: 10%;
    color: white;
    text-transform: capitalize;
    text-shadow: 0px 4px 8px black;
} 
h2{
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    color:white;
   background-color: grey;
    text-shadow: 0px 4px 8px black;
    box-shadow: 0px 4px 8px black;
}
body{  
    background:linear-gradient(to left, grey,white);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 95vh;
}
button{
    background: transparent;
    border-color: white;
    padding: 6px;
    border-radius: 12px;
    color:white;
    font-size: 15px;
}@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        margin-top: 10%;
    }
    h2 {
        font-size: 22px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 300px;
        height: 350px;
        padding: 20px 0;
        margin-right:40%;
    }
    body{
        mini-height:100vh;
    }
    .container h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    button {
        font-size: 14px;
    }
   
}
